[submodule "web-development-with-node-and-express/web-development-with-node-and-express-2e"]
	path = web-development-with-node-and-express/web-development-with-node-and-express-2e
	url = https://github.com/EthanRBrown/web-development-with-node-and-express-2e
